.banner {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  height: 25rem;
  background-image: url(../../assets/images/orange-bg.jpg);
  background-position: center;
  background-size: cover;

  &__title {
    color: #fff;
    font-weight: bold;
  }
}

@media screen and (max-width: 1023.98px) {
  .banner__title {
      display: none;
}
}
